.center {
  text-align: center;
  border: 35px solid #fff387;
  margin-top: 20px;
  font-size:120%; width:100%
  
}

.sidebar {
  height: 100%; 
  width: 80px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #fff387; 
  overflow-x: hidden; 
  padding-top: 20px;
}


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  writing-mode: vertical-rl;
  text-orientation: mixed;  
  pointer-events: none;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}



.main {
  margin-left: 120px; 
  margin-right: 30px; 
  padding: 0px 10px;
  font: Zichtbaar;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#footer {
  border: 2px solid black;
  padding: 10px;
  background-color: #fff387;
  
  background-repeat: no-repeat;
  background-size: auto;
}
